.admin-div{
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.admin-pdf-input{
  margin-top: 1.5vh;
}

.admin-photo-div{
  margin-top: 4vh;
}

@media (max-width: 992px) {

  .admin-div{
    margin-top: 15vh;
  }

}
