.admin-div{
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.admin-pdf-input{
  margin-top: 1.5vh;
}

.admin-photo-div{
  margin-top: 4vh;
}

.admin-photo-item{
  height: auto;
  width: 20vw;
}

.admin-photo-upload-div{
  margin-top: 2vh;
}

.admin-photo-upload-input{
  margin-top: 1vh;
}

@media (max-width: 992px) {

  .admin-div{
    margin-top: 15vh;
  }

  .admin-photo-item{
    height: auto;
    width: 75vw;
  }

}

.admin-login-div{
  margin-top: 20vh;
  margin-bottom: 10vh;
}
