#cart{
  margin-top: 6vw;
  width: 100%;
}

.cart-header{
  font-size: 2.5vw;
  margin-bottom: 2vh;
}

.cart-header-empty{
  font-size: 2.5vw;
  margin-bottom: 2vh;
  display: none;
}

.cart-item-div{
  width: 100%;
  /* border: 1px solid black; */
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 4vh;
}

.cart-item-info{
  font-size: 2vw;
}

.cart-item-name{
  margin-left: 1vw;
}

.cart-item-x{
  margin-left: 1vw;
}

.cart-item-quantity{
  margin-left: 1vw;
}

.cart-item-totalcost{
  margin-right: 1vw;
}

.cart-item-extra-div{
  margin-left: 1vw;
}

.cart-item-extra-item{
  margin-left: 0.5vw;
}

.cart-item-extra-comma{
  margin-left: 0.5vw;
}

.cart-item-finaldiv{
  margin-left: 1vw;
  margin-bottom: 1vh;
}

.cart-item-instructions{
  margin-top: 0.8vh;
}

.cart-item-delete{
  margin-right: 1vw;
}

.cart-item-delete-button{
  background-color: #c5c41c;
}

.cart-header-extras{
  font-size: 2.5vw;
  margin-bottom: 2vh;
}

.extras-button{
  background-color: #c5c41c;
}

.modal-title{
  font-size: 2vw;
}

.modal-active{
  color: #c5c41c;
}

.nav-link:hover{
  color: #c5c41c;
}

.modal-body{
  font-size: 1.5vw;
}

.modal-extras-body section{
  padding: 0px !important;
}

.modal-extras-itemdiv{
  margin: 1vh;
}

.model-extra-row{
  width: 100%;
}

.modal-extra-itemprice{
  margin-right: 1vw;
}

.modal-extra-itemadded{
  display: none;
  font-size: 1.5vw;
}

#Beverages{
  display: none;
}

.modal-extra-addtocart-button{
  background-color: #c5c41c;
  height: 5.5vh;
}



/* .cart-message-div{
  width: 100%;
} */

/* .cart-message{
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  bottom: 100px;
  background-color: #c5c41c;
  width: 100%;
  border: 1px solid black;
  height: 5vh;
  z-index: 99999;
  position: absolute;
} */

@media (max-width: 768px) {

  #cart{
    margin-top: 12vw;
  }

  .cart-header{
    font-size: 7vw;
  }

  .cart-header-empty{
    font-size: 7vw;
  }

  .cart-item-info{
    font-size: 6vw;
  }

  .cart-header-extras{
    font-size: 6vw;
  }

  .modal-title{
    font-size: 7vw;
  }

  .modal-body{
    font-size: 6vw;
  }

  .modal-extra-itemadded{
    font-size: 6vw;
  }

}
