#order{
  margin-top:5vw;
}

.buttonOrder{
    border: 1px black solid;
}

.itemSection{
  margin: 6vh 1vh;
}

.itemCard{
  height: 32vh;
  border: 1px black solid;
}

.itemImage{
  margin: 2vh 1vw;
  border: 1px black solid;
  height: 20vh
}

@media (max-width: 768px) {
  #order{
    margin-top:10vw;
  }

  .itemCard{
    margin: 3vh 2vh;
    height: 30vh;
  }

  .itemImage{
    height: 20vh
  }
}

/* New Order page */

.orderContainer{
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 50vh;
}

.sidebar{
  border: 1px solid black;
  height: 50vh;
  width: 20vw;
  position: relative;
}

.itemDisplayDiv{
  border: 1px solid black;
  height: 50vh;
  width: 50vw;
}

.sidebarItem{
  margin-left: 1vw;
  margin-top: 1vw;
}

.itemtoDisplay{
  margin-left: 1vw;
  margin-top: 1vw;
  width: 100%;
}

.itemInfo{
  width: 40vw;
}

.itemDescription{
  font-size: 0.8vw;
}

@media (max-width: 1000px) {
  .orderContainer{
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 60vh;
  }

  .sidebar{
    height: 60vh;
    width: 35vw;
  }

  .itemDisplayDiv{
    height: 60vh;
    width: 55vw;
  }

  .itemDescription{
    font-size: 3vw;
  }
}
