#order{
  margin-top:5vw;
}

.buttonOrder{
    border: 1px black solid;
}

.itemSection{
  margin-top: 2vh;
}

.itemCard{
  height: 10vw;
  border: 1px black solid;
}

@media (max-width: 768px) {
  #order{
    margin-top:10vw;
  }

  .itemCard{
    height: 20vh;
  }
}
