@font-face {
    font-family: 'BioRhyme Expanded';
    src: url('BioRhymeExpanded-Regular.woff2') format('woff2'),
        url('BioRhymeExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

