@font-face {
    font-family: 'Cooper';
    src: url('Cooper.woff2') format('woff2'),
        url('Cooper.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

